
@keyframes transitionIn{
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
    
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.home-link {
  display: none;
}
.logo-container{
  display: none;
}

.header {
  min-height: 90vh;
  width: 100%;
  background-image: url("PBEimages/pbeZACH-transformed.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.sub-header{
  min-height: 50vh;
  width: 100%;
  background-image: url("PBEimages/groupPhotoNMT.png");
  background-position: center;
  background-size: cover;
  position: relative;
}


.sub-header h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  opacity: 0.999999;
}

.recruitment-header h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  opacity: 0.999999;
}

.member-header{
  min-height: 50vh;
  width: 100%;
  background-image: url("PBEimages/MembersBackground3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.member-header h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  opacity: 0.999999;
}

.member {
  background-color: black; /* White background */
  color: white; /* Black text */
  padding: 100px; /* Add some padding for better readability */
  text-align: center;
}

.member h1 {
  margin-bottom: 40px;
  margin-top: -60px;
  color: #76cee6;
}

.member {
  background-color: black;
  color: white;
  padding: 100px;
  text-align: center;
}

.member h1 {
  margin-bottom: 40px;
  color: #76cee6;
}

.member-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  gap: 50px;
  justify-content: center;
  margin-bottom: -70px;
}

.member-item {
  position: relative;
  width: 200px;
  text-align: center;
}

.image-container {
  position: relative;
}


.linkedin-icon {
  position: absolute;
  bottom: 10px;  /* Adjust the position as needed */
  right: 10px;   /* Adjust the position as needed */
  width: 30px;   /* Adjust the size as needed */
  height: 30px;  /* Adjust the size as needed */
}

.linkedin-icon img {
  width: 100%;
  height: auto;
}
.member-item img {
  width: 100%;
}





#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#back-to-top:hover {
  background-color: #000;
}



.member-info {
  padding: 10px;
}

.member-info h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.member-info p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}


.recruitment-header{
  min-height: 50vh;
  width: 100%;
  background-image: url("PBEimages/recruitment.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact-header{
  min-height: 50vh;
  width: 100%;
  background-image: url("PBEimages/RecruitmentFinal.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact-header h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  opacity: 0.999999;
}



.contact {
  background-color: black; /* White background */
  color: white; /* Black text */
  padding: 100px; /* Add some padding for better readability */
  text-align: center;

}

.recruitment h2{
  margin-bottom: 40px;
}

.recruitment img {
  align-items: center;
  justify-content: center;
  margin-bottom: -70px;
  width: 300px;
}

.sub-header h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  opacity: 0.999999;
}

.recruitment {
  background-color: black; /* White background */
  color: white; /* Black text */
  padding: 100px; /* Add some padding for better readability */
  text-align: center;

}

.recruitment h1{
  margin-bottom: 40px;
  margin-top: 50px;
}

.contact h1{
  
  margin-top: 50px;
}


.aboutUs {
  
  background-color: black; /* White background */
  color: white; /* Black text */
  padding: 100px; /* Add some padding for better readability */
  padding-top: -50px;
  margin-top: -30px;
}


.aboutUs h1{
  margin-bottom: 30px;
  margin-top: -40px;
  font-size: 40px;
  color: #76cee6;

}

.aboutUs h2 {
  font-size: 24px; /* Example size for the heading */
  margin-bottom: 30px; /* Add some space below the heading */
  color: #76cee6;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
  font-size: 40px;
}

.aboutUs .speakers h2{
  margin-top: 50px;
  color: #76cee6; 
  text-align: left; 
  font-size: 40px;
  margin-bottom: 10px;
}

.speaker-content {
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Center align items vertically */
}

.speaker-photo {
  width: 500px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  background-image: url("PBEimages/carSpeaker.jpg"); /* Add the path to your image */
  background-size: cover;
  background-position: left;
  margin-right: 20px;
  /* Center the photo horizontally */
}

.speaker-content p {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
  flex: 1;

}


.aboutUs p {
  font-size: 20px; /* Example size for paragraphs */
  line-height: 1.6; /* Example line height */
  margin-bottom: 10px; /* Add some space between paragraphs */
  margin-top: 40px;
}

.service h2{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 10px;
}
.service-content{
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Center align items vertically */
}

.service-content p {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
  flex: 1;
  margin-top: 30px;
}
.service-photo{
  width: 500px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  background-image: url("PBEimages/indownloader.app_picture_0093131001715713830.jpg"); /* Add the path to your image */
  background-size: cover;
  background-position: left;
  margin-right: 20px;
}


.Brotherhood h2{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 10px;
}
.brotherhood-content{
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Center align items vertically */
  
}

.brotherhood-content p {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
  flex: 1;
  margin-top: 30px;
}
.brotherhood-photo{
  width: 500px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  background-image: url("PBEimages/brotherhood.JPG"); /* Add the path to your image */
  background-size: cover;
  background-position: left;
  margin-right: 20px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 75px; /* Adjust the height as needed */
}

nav img {
  width: 270px;
  height: auto;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center links horizontally */
  align-items: center;
}

.nav-links ul li {
  margin: 0 20px; /* Reduce margin for smaller screens */
  position: relative; /* Added for positioning the ::after pseudo-element */
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative; /* Ensure the anchor tag has a stacking context */
  transition: color 0.3s; /* Smooth transition for color change */
}

.nav-links ul li a:hover {
  color: #76cee6; /* Change color on hover */
}

.centered-image {
  position: absolute;
  top: -50px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
}

.centered-image img {
  max-width: 100%;
  max-height: 100%;
}

.hamburger {
  display: none; /* Hide by default */
  cursor: pointer;
}

/* Hamburger bars */
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0 ;
  transition: transform 0.3s ease-in;
}
.footer {
  background-color: #000000; /* Change as needed */
  color: white;
  padding: 55px 20px; /* Adjust padding to make the footer taller for smaller screens */
  text-align: center;
  position: relative; /* Position relative for absolute positioning of the copyright */
}

.footer h3 {
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0 10px;
}

.footer ul li a img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}

.footer .copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width: 1024px) {
  .logo-container{
    display: block;
  }
  .footer {
    background-color: #000000; /* Change as needed */
    color: white;
    padding: 55px !important; /* Adjust padding to make the footer taller for smaller screens */
    text-align: center;
    position: relative; /* Position relative for absolute positioning of the copyright */
  }


  
  
  .logo-container {
    flex-grow: 1; /* Take remaining space */
    text-align: center; /* Center align the logo */
  }
  
  .logo-container img {
    max-width: 200px; /* Adjust size as needed */
    margin-right: 55px;
  }
  
  .nav-links {
    display: flex; /* Align nav links horizontally */
    justify-content: flex-end; /* Align nav links to the right */
    gap: 20px; /* Add spacing between links */
  }
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links ul li {
    position: relative;
  }
  
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links ul li a:hover {
    color: #76cee6;
  }
  
  .hamburger {
    display: none; /* Hide by default */
    cursor: pointer;
  }
  
  /* Hamburger bars */
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.3s ease-in;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 1003px) {
    .header {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: flex-start; /* Align items to the left */
    }
  
    .logo-container {
      order: 2; /* Move logo to the bottom on smaller screens */
    }
  
    .nav-links {
      order: 3; /* Move nav links to the bottom on smaller screens */
      display: none; /* Hide nav links by default on smaller screens */
      flex-direction: column; /* Stack links vertically */
      position: absolute;
      top: 90px; /* Adjust top position as needed */
      left: 0;
      background-color: #00000000; /* Background color for mobile nav */
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  
    .nav-links.active {
      display: flex; /* Show nav links when active */
    }
  
    .hamburger {
      order: 1; /* Move hamburger menu to the top on smaller screens */
      display: block; /* Show hamburger menu */
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }


/* Media query for smaller screens */
@media screen and (max-width: 1003px) {

  .contact-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }

  .sub-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }

  .recruitment-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }


  .recruitment img {
    align-items: center;
    justify-content: center;
    margin-bottom: -70px;
    width: 200px;
  }
  nav {
    height: 80px;
  }

  .home-link {
    display: block;
}


  .nav-links {
    display: none; /* Hide navigation links by default on smaller screens */
    
  }

  .sub-header h1{
    text-align: center;
    margin-top: 220px;
    font-size: 50px;
    color: white;
    opacity: 0.999999;
  }

  .recruitment-header h1{
    text-align: center;
    margin-top: 220px;
    font-size: 50px;
    color: white;
    opacity: 0.999999;
  }

  .member-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 50px;
    color: white;
    opacity: 0.999999;
  }

  .nav-links.active {
    position: absolute;
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the cross axis (left) */
    justify-content: flex-start; /* Align items to the start of the main axis (top) */
  }

  .close-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

  .nav-links ul {
    list-style: none;
  }

  .nav-links ul li {
    margin: 10px 0; /* Adjust spacing */
  }

  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
  }

  .nav-links ul li a:hover {
    color: #76cee6;
  }

  .hamburger {
    display: block; /* Show hamburger menu */
    align-items: flex-start;
  }

  /* Add click event to hamburger menu */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .nav-links ul li:nth-child(3) {
    display: none; /* Hide the middle link */
  }

  .nav-links ul {
    flex-direction: column; /* Display items in a column */
    align-items: center; /* Center items horizontally */
  }

  .aboutUs p{
    font-size: 16px; /* Adjust font size as needed */
    margin-top: -20px;
  }

  .service-content{
    display: block; /* Use flexbox to align items */
    align-items: flex-start; /* Center align items vertically */
  }

  .brotherhood-content{
    display: block; /* Use flexbox to align items */
    align-items: flex-start; /* Center align items vertically */
  }

  .brotherhood-content p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    margin-top: 20px;
  }

  .service-content p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    margin-top: 20px;
  }

  .speaker-content{
    display: block; /* Use flexbox to align items */
    align-items: flex-start; /* Center align items vertically */
  }

  .speaker-content p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    margin-top: 20px;
  }
  
  .footer {
    background-color: #000000; /* Change as needed */
    color: white;
    padding: 70px 25px !important; /* Adjust padding to make the footer taller for smaller screens */
    text-align: center;
    position: relative; /* Position relative for absolute positioning of the copyright */
  }

  .brotherhood-photo{
    width: 220px;
    height: 120px;
    background-position: center;

  }


  

  .service-photo{
    width: 220px;
    height: 120px;
    background-position: center;

  }

  
  .speaker-photo{
    width: 220px;
    height: 120px;
    background-position: center;

  }
  
}



@media screen and (max-width: 430px){
  .social-links{
    margin-bottom: 30px;
  }
  

  .contact{
    margin-top: -50px;
    font-size: 10px;
  }
  
  

  .brotherhood-photo{
    width: 220px;
    height: 120px;
    background-position: center;


  }


  

  .service-photo{
    width: 230px;
    height: 150px;
    background-position: center;
    margin-right: 0px;

  }

  
  .speaker-photo{
    width: 230px;
    height: 150px;
    background-position: center;
    margin-right: 0px;

  }

  .aboutUs{
    text-align: center;
  }
  .aboutUs h1{
    text-align: center;
  }
  .service h2{
    text-align: center;
  }

  .Brotherhood h2{
    text-align: center;
  }

  .speaker-content{
    text-align: center;
  }
  .brotherhood-content{
    text-align: center;
  }

  .service-content{
    text-align: center;
  }

  .sub-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }

  .recruitment-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }


  .contact-header h1{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
    color: white;
    opacity: 0.999999;
  }
  

  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .footer {
    background-color: #000000; /* Change as needed */
    color: white;
    padding: 20px !important; /* Adjust padding to make the footer taller for smaller screens */
    text-align: center;
    position: relative; /* Position relative for absolute positioning of the copyright */
  }

  .header {
    min-height: 95vh;
    width: 100%;
    background-image: url("PBEimages/pbeZACH-transformed.png");
    background-position: center;
    background-size: cover;
    position: relative;
  }
} 

.footer {
  background-color: #000000; /* Change as needed */
  color: white;
  padding: 15px;
  text-align: center;
  position: relative; /* Position relative for absolute positioning of the copyright */
}


.footer h3 {
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0 10px;
}

.footer ul li a img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}

.footer .copyright {
  position: absolute;
  bottom: 10px;
  right: 20px;
}


}